doctype html
html
   head
      title= "application"
      link(rel="stylesheet", href="/styles.css")
   body
   div
      nav
      a(href="/") Home page
      a(href="/services") Our services
      a(href="/contact") Contact us
      block content
      